# Ignore Python cache
__pycache__/
*.pyc

# Ignore environment folders
env/
venv/

# Ignore OS files
.DS_Store

# Ignore unnecessary large models
models/tfidf.joblib
models/xgb_sbert.joblib
models/*.pt
models/*sbert*

# Only keep:
!models/xgb_meta.joblib
!models/meta_scaler.joblib
